In [55]:
a = [2, 4, 6 ,9]
b = [1,2,3,5]

In [56]:
for (x,y) in zip(a,b):
    while y > 1:
        print (x,y)
        a.append(x)
        y = y-1
print (a,statistics.stdev(a))

4 2
6 3
6 2
9 5
9 4
9 3
9 2
[2, 4, 6, 9, 4, 6, 6, 9, 9, 9, 9] 2.540579747724022

In [ ]:

statistics.stdev(A_rank)

In [51]:
# Importing
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statistics

from sklearn.preprocessing import OneHotEncoder

import glob
import time

In [6]:
start_time = time.time()
useful_cols = ['WAGP','SEX', 'AGEP','RAC1P','RAC3P','SCHL', 'WKW','WKHP','OCCP','POWSP','ST']
path = r'test_data'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/**/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
print(" %s min" % round(((time.time() - start_time)/60),2))

(8842783, 11)
 1.72 min

In [7]:
PUS_full.describe(include='all')

,ST,AGEP,SCHL,SEX,WAGP,WKHP,WKW,OCCP,POWSP,RAC1P,RAC3P
count,8.842783e+06,8.842783e+06,8.528012e+06,8.842783e+06,7.120694e+06,4.738058e+06,4.738058e+06,5.313799e+06,4.001675e+06,8.842783e+06,8.842783e+06
mean,2.757040e+01,3.878543e+01,8.695140e+00,1.515281e+00,2.400928e+04,3.889245e+01,4.404442e+01,4.437071e+03,2.791068e+01,1.836994e+00,6.053647e+01
std,1.593357e+01,2.308204e+01,3.924915e+00,4.997665e-01,4.113136e+04,1.316473e+01,1.400111e+01,2.585441e+03,1.811829e+01,2.055657e+00,1.855257e+01
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.200000e+01,1.800000e+01,6.000000e+00,1.000000e+00,0.000000e+00,3.500000e+01,4.200000e+01,2.320000e+03,1.200000e+01,1.000000e+00,6.900000e+01
50%,2.700000e+01,3.900000e+01,9.000000e+00,2.000000e+00,9.000000e+03,4.000000e+01,5.200000e+01,4.700000e+03,2.700000e+01,1.000000e+00,6.900000e+01
75%,4.100000e+01,5.600000e+01,1.200000e+01,2.000000e+00,3.500000e+04,4.500000e+01,5.200000e+01,5.860000e+03,4.100000e+01,1.000000e+00,6.900000e+01
max,5.600000e+01,9.500000e+01,1.600000e+01,2.000000e+00,6.660000e+05,9.900000e+01,5.200000e+01,9.920000e+03,5.550000e+02,9.000000e+00,7.200000e+01

In [32]:
df = PUS_full.copy()

In [33]:
df.head()

   ST  AGEP  SCHL  SEX     WAGP WKHP  WKW    OCCP  POWSP  RAC1P  RAC3P
0   1    49  16.0    1  0000000   60  1.0  7210.0    1.0      1      1
1   1    59   1.0    2  0000000       NaN     NaN    NaN      1      1
2   1    37   1.0    1  0000000       NaN  6200.0    NaN      1      1
3   1    15  11.0    2  0000000       NaN     NaN    NaN      1      1
4   1    14  11.0    1                NaN     NaN    NaN      1      1

In [34]:
df.WAGP=df.WAGP.replace(' ','0000000')
df.WKHP=df.WKHP.replace(' ','00')

In [35]:
df.head()

   ST  AGEP  SCHL  SEX     WAGP WKHP  WKW    OCCP  POWSP  RAC1P  RAC3P
0   1    49  16.0    1  0000000   60  1.0  7210.0    1.0      1      1
1   1    59   1.0    2  0000000   00  NaN     NaN    NaN      1      1
2   1    37   1.0    1  0000000   00  NaN  6200.0    NaN      1      1
3   1    15  11.0    2  0000000   00  NaN     NaN    NaN      1      1
4   1    14  11.0    1  0000000   00  NaN     NaN    NaN      1      1

In [36]:
df.WAGP = df.WAGP.astype(float)
df.WKHP = df.WKHP.astype(float)

In [37]:
df.head()

   ST  AGEP  SCHL  SEX  WAGP  WKHP  WKW    OCCP  POWSP  RAC1P  RAC3P
0   1    49  16.0    1   0.0  60.0  1.0  7210.0    1.0      1      1
1   1    59   1.0    2   0.0   0.0  NaN     NaN    NaN      1      1
2   1    37   1.0    1   0.0   0.0  NaN  6200.0    NaN      1      1
3   1    15  11.0    2   0.0   0.0  NaN     NaN    NaN      1      1
4   1    14  11.0    1   0.0   0.0  NaN     NaN    NaN      1      1

In [39]:
df.to_csv('ss14pusa.csv')