In [55]:
a = [2, 4, 6 ,9]
b = [1,2,3,5]

In [56]:
for (x,y) in zip(a,b):
    while y > 1:
        print (x,y)
        a.append(x)
        y = y-1
print (a,statistics.stdev(a))

4 2
6 3
6 2
9 5
9 4
9 3
9 2
[2, 4, 6, 9, 4, 6, 6, 9, 9, 9, 9] 2.540579747724022

In [ ]:

statistics.stdev(A_rank)

In [3]:
# Importing
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statistics

from sklearn.preprocessing import OneHotEncoder

import glob
import time
useful_cols = ['WAGP', 'SEX', 'AGEP', 'RAC1P',
                   'SCHL', 'WKW', 'WKHP', 'OCCP', 'POWSP', 'ST', 'HISP']

In [35]:
helpme = pd.read_csv('data/2014/ss14pus.csv', usecols = useful_cols)
helpme.describe(include='all')

,ST,AGEP,SCHL,SEX,WAGP,WKHP,WKW,HISP,OCCP,POWSP,RAC1P
count,3.132610e+06,3.132610e+06,3.036486e+06,3.132610e+06,3132610,3132610,1.593819e+06,3.132610e+06,1.839095e+06,1.392369e+06,3.132610e+06
unique,NaN,NaN,NaN,NaN,912,100,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,0000000,,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,1094408,1538791,NaN,NaN,NaN,NaN,NaN
mean,2.764671e+01,4.082344e+01,1.589662e+01,1.511835e+00,NaN,NaN,1.909145e+00,1.547023e+00,4.327615e+03,2.801172e+01,1.870905e+00
std,1.604538e+01,2.354995e+01,5.652000e+00,4.998600e-01,NaN,NaN,1.640101e+00,2.599187e+00,2.617443e+03,1.771404e+01,2.074344e+00
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00
25%,1.200000e+01,2.000000e+01,1.400000e+01,1.000000e+00,NaN,NaN,1.000000e+00,1.000000e+00,2.310000e+03,1.200000e+01,1.000000e+00
50%,2.700000e+01,4.200000e+01,1.700000e+01,2.000000e+00,NaN,NaN,1.000000e+00,1.000000e+00,4.320000e+03,2.700000e+01,1.000000e+00
75%,4.200000e+01,5.900000e+01,2.000000e+01,2.000000e+00,NaN,NaN,2.000000e+00,1.000000e+00,5.700000e+03,4.200000e+01,1.000000e+00
max,5.600000e+01,9.600000e+01,2.400000e+01,2.000000e+00,NaN,NaN,6.000000e+00,2.400000e+01,9.920000e+03,5.550000e+02,9.000000e+00

In [57]:
def convert_num(dumb):
    for x in ['WAGP', 'WKHP']:
        dumb[x] = dumb[x].map(lambda y: 0 if y == "0000000" 
                                        else 0 if y == ' '
                                        else y)
        dumb[x] = pd.to_numeric(dumb[x])
    return dumb

In [61]:
dumb = convert_num(helpme)
dumb.to_csv(('data/2014/ss14pus.csv'),index=False)

In [59]:
dumb.describe(include='all')

,ST,AGEP,SCHL,SEX,WAGP,WKHP,WKW,HISP,OCCP,POWSP,RAC1P
count,3.132610e+06,3.132610e+06,3.036486e+06,3.132610e+06,3.132610e+06,3.132610e+06,1.593819e+06,3.132610e+06,1.839095e+06,1.392369e+06,3.132610e+06
mean,2.764671e+01,4.082344e+01,1.589662e+01,1.511835e+00,2.157582e+04,1.931513e+01,1.909145e+00,1.547023e+00,4.327615e+03,2.801172e+01,1.870905e+00
std,1.604538e+01,2.354995e+01,5.652000e+00,4.998600e-01,4.478653e+04,2.123883e+01,1.640101e+00,2.599187e+00,2.617443e+03,1.771404e+01,2.074344e+00
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00
25%,1.200000e+01,2.000000e+01,1.400000e+01,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.310000e+03,1.200000e+01,1.000000e+00
50%,2.700000e+01,4.200000e+01,1.700000e+01,2.000000e+00,0.000000e+00,6.000000e+00,1.000000e+00,1.000000e+00,4.320000e+03,2.700000e+01,1.000000e+00
75%,4.200000e+01,5.900000e+01,2.000000e+01,2.000000e+00,3.000000e+04,4.000000e+01,2.000000e+00,1.000000e+00,5.700000e+03,4.200000e+01,1.000000e+00
max,5.600000e+01,9.600000e+01,2.400000e+01,2.000000e+00,6.420000e+05,9.900000e+01,6.000000e+00,2.400000e+01,9.920000e+03,5.550000e+02,9.000000e+00

In [4]:
start_time = time.time()
path = r'data/2018'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss18pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3214539, 11)
 1.54 min

In [5]:
start_time = time.time()
path = r'data/2017'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss17pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3190040, 11)
 1.9 min

In [6]:
start_time = time.time()
path = r'data/2016'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss16pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3156487, 11)
 1.77 min

In [7]:
start_time = time.time()
path = r'data/2015'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss15pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3147005, 11)
 1.77 min

In [8]:
start_time = time.time()
path = r'data/2014'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss14pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3132610, 11)
 1.68 min

In [16]:
start_time = time.time()
path = r'data/2013'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss13pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3132795, 11)
 1.75 min

In [11]:
start_time = time.time()
path = r'data/2012'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss12pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3113030, 11)
 1.79 min

In [12]:
start_time = time.time()
path = r'data/2011'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss11pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3112017, 11)
 1.78 min

In [13]:
start_time = time.time()
path = r'data/2010'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss10pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3061692, 11)
 1.71 min

In [14]:
start_time = time.time()
path = r'data/2009'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss09pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3030728, 11)
 1.68 min

In [15]:
start_time = time.time()
path = r'data/2008'
PUS_full = pd.concat([pd.read_csv(f, usecols = useful_cols) for f in glob.glob(path + "/*.csv", recursive = True)], ignore_index=True)
print (PUS_full.shape)
PUS_full.to_csv((path + "/ss08pus.csv"),index=False)
print(" %s min" % round(((time.time() - start_time)/60),2))

(3000657, 11)
 1.64 min